.index {
  width: 100%;
  border-radius: var(--br-mini);
  margin: 0 auto;
  padding-top: 20px;
  height: 100%;
  background-color: #409e6733;
}
.appContent {
  width: 95%;
  border-radius: var(--br-mini);
  margin: 0 auto;
  background-color: #3cb46e33;
}
.productContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}
