.product {
  background-color: aliceblue;
  width: 200px;
  border-radius: 20px;
  margin: 20px;
}
.product img {
  width: 200px;
  height: 150px;
  background-size: contain;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  font-size: 15px;
  color: #3cb46e;
}
.info h2 {
  margin: 0;
  padding: 0;
}
.info p {
  margin-bottom: 5px;
  color: #30714b;
  font-weight: 700;
  font-size: 15px;
}
