.logoImg {
  position: relative;
  width: 600px;
  height: 600px;
  object-fit: cover;
}
.home {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-beige);
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.btn {
  margin: 20px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;

  background-color: #93cf8a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #4caf50;
}
